/* .grid-wrapper{
    max-width: fit-content;
} */
.grid {
    height: 350px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.turn-highlight {
    color: aqua;
}