.grid {
    height: 350px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.turn-highlight {
    color: aqua;
}

.reset {
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: rgb(14, 14, 14);
    background-color: rgb(196, 255, 251);
}
